*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul li{
    text-decoration: none;
    list-style-type: none
    
}
a{
    text-decoration: none;
    list-style-type: none
}

header{
    background-image: url(iframe/image/cover.png);
    background-size:contain;
    background-size: cover;
    padding-top: 10px;
    width: 100%;
    height: auto;
}
.header{
    display: flex;
    justify-content:space-between;
}
.vector{
    padding-right: 10px;
}

header a{
    padding-left: 10px;
    padding-top: 20px;
}
header p{
    text-align: center;
    padding-top: 400px;
    color: white;
    
}
li a{
    color: white;
}
ul{
    display: flex;
    justify-content: end;
    color: white;
    padding: 20px;
}

main{
    height:auto; 
    width:100%;
    background-color:#2A2626;
    margin-right: 20px;
}
main h1{
    color: white;
    text-align: center;
    padding-top: 20px;
}

.main{
    max-width: 100%;
    height:auto;
    background-color: #0B0A0A;
    padding: 20px;
}
.main h1{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.div{
    padding: 20px;
}
.P{
    background-color: #8E8B8B;
    margin-right: 20px;
    margin-top: 10px;
    padding: 20px 50px 20px 50px;
}

footer{
    max-width: 100%;
    height: auto;
    background-color: #2A2626;
}
footer a{
    padding: 20px;
    text-align: center;
}
@media only screen and (max-width: 600px){
    .ul1 li{
        display: none;
    }
    .footer{
        display: none;
    }
    header p .br2{
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .vector{
        display: none;
    }
    .br1{
        display: none;
    }
    .br3{
        display: none;
    }
    header{
        background-image: url(iframe/image/cover\ for\ pc.png);
        background-size:cover;
    }
    nav{
        display: flex;
        padding: 20px;
    }
    .header a{
        margin-left: 50px;
    }
    header p{
        padding-bottom: 90px;
    }
    main div{
        display: flex;
        justify-content: space-around;
    }
    .main{
        padding: 50px;
    }
    .main2{
        display: flex;
        justify-content: space-around;
        margin-left: 50px;
    }
    .main2 p{
        margin-left: 100px;
        padding: 100px;
        Width:420px;
        Height:320px;
    }
    .main2 img{
        Width:400px;
        Height:320px;
    }
    footer{
        display: flex;
        justify-content: space-between;
        padding: 0px 50px 0px 50px;
        align-items: center;
    }
   
}